target/
*/target/
*.class
.idea/
.project
.jupiter
*.iml
.svn/
.checkstyle
.settings
/cloud-webservice/*.classpath
/cloud-webservice-api/*.classpath
/framework/*.classpath
/module-baseservice/*.classpath
/module-goods/*.classpath
/module-model/*.classpath
/module-subject/*.classpath
/module-teacher/*.classpath
/module-user/*.classpath
/ttxn-server/*.classpath
/open-server/*.classpath
.bin/
*/bin/
*/.sts4-cache/*.json
/src/main/webapp/WEB-INF/classes/*
test/